# Editor
.vscode/
.idea/

# Virtual environments
.envrc
.direnv/
.venv*/
venv*/

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/
pip-wheel-metadata/
*.egg-info/

# Test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.pytest_cache/

# Tools
.mypy_cache

# Sphinx
docs/_build/
docs/_examples/
docs/generated/
