[tool.black]
line-length = 100

[tool.isort]
line_length = 100
multi_line_output = 3
include_trailing_comma = true
use_parentheses = true

[tool.pylint.message_control]
disable = [
    "import-error",  # run without install in tox
    "missing-module-docstring",
    "missing-function-docstring",
]

[tool.pylint.format]
max-line-length = 100
good-names = [
    "logger",
    "i", "j", "k", "n", "m",
    "t", "f",
    "x", "y",
    "fs", "sr",  # sample rate
    "ax",  # matplotlib axes
    "df",  # pandas dataframe
    "e",  # exceptions
    "T",  # typing generics (TypeVar)
]

[tool.pylint.design]
max-attributes = 10

[tool.pylint.similarities]
min-similarity-lines = 6
ignore-docstrings = true
ignore-imports = true

[tool.mypy]
ignore_missing_imports = true

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -q"  # test summary for (a)ll except passed
testpaths = ["tests"]
log_cli = true
log_cli_level = "WARNING"

[tool.tox]
legacy_tox_ini = """
[tox]
envlist =
    pylint
    mypy
    py{36, 37, 38, 39, 310, 311}
    py{36, 37, 38, 39, 310, 311}-numba
    coverage-report
    pyinstaller
    docs

[testenv:pylint]
skip_install = true
deps = pylint
commands = pylint src/

[testenv:mypy]
skip_install = true
deps = mypy
commands = mypy src/

[testenv]
setenv =
    NUMBA_DISABLE_JIT = 1
deps =
    numba: numba
extras = tests
commands = 
    coverage run -m pytest --benchmark-disable

[testenv:coverage-report]
skip_install = true
deps = coverage[toml]>=5
commands =
    - coverage combine
    coverage report

[testenv:coveralls]
skip_install = true
deps =
    coverage[toml]>=5
    coveralls
passenv = GITHUB_*
commands = 
    - coverage combine
    coveralls --service=github

[testenv:pyinstaller]
deps = pyinstaller>=4
commands = python -m PyInstaller.utils.run_tests --include_only vallenae.

[testenv:docs]
extras = docs
changedir = docs
commands =
    sphinx-build -b dummy . _build
    sphinx-build -b linkcheck . _build
"""

[tool.coverage.run]
branch = true
parallel = true
source = ["vallenae"]

[tool.coverage.paths]
source = ["src", ".tox/*/site-packages"]
